# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Data (Không đẩy các file dữ liệu nặng lên GitHub)
data/*.csv
data/*.zip

# Jupyter Notebook
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Report
report/*.aux
report/*.log
report/*.out
report/*.pdf
